
.jumbotron{
	background-color:#808000;
}

.image-fluid{
	border: 3px;
    max-width: 50%;
 }

.nav-item{
    background-color:     
	padding: 100px;
}

   h1
      {    
       	text-align: center; }
 
 .p
    { text-align: left; 


    }




